@font-face {
    font-family: "sp-pro";
    src: url("../fonts/sp-pro/bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "sp-pro";
    src: url("../fonts/sp-pro/bold-italic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "sp-pro";
    src: url("../fonts/sp-pro/light.ttf") format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "sp-pro";
    src: url("../fonts/sp-pro/light-italic.ttf") format('truetype');
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: "sp-pro";
    src: url("../fonts/sp-pro/regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "sp-pro";
    src: url("../fonts/sp-pro/regular-italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

body{
    margin: 0;
}

body, html, * {
    font-family: "sp-pro"!important;
    font-weight: normal;
    font-size: medium;
}
